<div class="snap-y snap-mandatory h-screen overflow-auto">
    <section class="snap-start bg-amber-200 grid grid-rows-2 h-screen md:grid-cols-2">

        <!--First-->
        <div class="bg-blue-300 md:h-screen">
            <h1 class="text-6xl">Hello World 1</h1>
        </div>

        <!--Second-->
        <div class="bg-blue-300 md:h-screen">
            <h1>Home#index</h1>
            <p>Find me in app/views/home/index.html.erb</p>

        </div>
    </section>

    <section class="snap-start bg-red-300 h-screen w-screen" id="three-div">
        <%#= content_tag(:canvas, "", class:"bg-red-500 w-0 h-0", width:"w-screen", height:"h-screen", id: "testo", data: {controller: "threejs"}) %>
    </section>
    <section class="snap-start bg-teal-200 w-screen h-screen grid grid-cols-2 items-center justify-center text-8xl">2</section>
    <section class="snap-start bg-cyan-200 w-screen h-screen flex items-center justify-center text-8xl">3</section>
    <section class="snap-start bg-fuchsia-200 w-screen h-screen flex items-center justify-center text-8xl mb-16">4</section>

</div>
